.toast {
  position: fixed;
  transition: all 0.5s ease-in-out;

  animation: toastAppear 0.5s ease-in-out;
}

@keyframes toastAppear {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
